@import 'variables';
@import 'mixins';
@import '../bootstrap/bootstrap.scss';

/* BASIC STYLING */
* {
    font-family: 'Roboto Slab', serif;
}

.hidden {
    display: none !important;
}

.color-1 {
    background: $color1;
}
.color-2 {
    background: $color2;
}
.color-3 {
    background: $color3;
}
.color-4 {
    background: $color4;
}
.color-5 {
    background: $color5;
}
.header {
    background: #fff799;
}
.footer {
    background: #c4df9b;
}

.wrapper {
    width: 960px;
    margin: 0 auto;

    @include media-breakpoint-down(md){
        width: 100%;
    }
}
/* ------------------------- */

/* BREAKPOINT DEMO --------- */
.cute-box {
    background: green;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;

    @include media-breakpoint-up(md) {
        background: red;
    }
    @include media-breakpoint-up(lg) {
        background: pink;
    }
    @include media-breakpoint-up(xl) {
        background: blue;
    }
    @include media-breakpoint-up(xxl) {
        background: gray;
    }
}

/* BS-DEMO ----------------- */
.bs-demo {
    .col {
        span {
            background: pink;
            height: 50px;
            display: block;
            text-align: center;
        } 
    }
    .row {
        &.colored {
            background: navy;
            height: 400px;
        }
    }
}

/* FLOAT ------------------- */
.float {
    width: 100%;
    text-align: center;
    
    .rows {
        &:after {
            clear:both;
            display:block;
            content:"";
        }

        &.header, &.footer {
            .col {
                min-height: 50px;
            }
        }

        .col {
            float:left;
            width: calc(100% / 3);
            min-height: 100px;

            &.full {
                width: 100% !important;
            }

            @include media-breakpoint-down(md){
                float: none;
                min-height: auto !important;
                width: 100%;
                padding: 10px 0;

                &:nth-child(2){
                    padding: 0;
                }
            }

            .rows {
                .col {
                    min-height: 50px;
                    width: 50%;

                    @include media-breakpoint-down(md){
                        width: 100%;
                        padding: 10px 0 !important;
                    }
                }
            }
        }
    }
}
/* ------------------------- */

/* FLEX -------------------- */
.flex {
    .rows {
        display: flex;
        align-items: stretch;
        text-align: center;

        @include media-breakpoint-down(md){
            flex-direction: column;
        }
    }
    
    .col {
        flex: 1;
        min-height: 50px;
        align-items: center;
    }
}
/* ------------------------- */

/* GRID -------------------- */
.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "one two three five"
        "one four four five"
        "footer footer footer footer";
    //row-gap: 25px;
    //column-gap: 15px;
    text-align: center;

    .header {
        grid-area: header;
    }
    .footer {
        grid-area: footer;
    }
    .color-1 {
        grid-area: one;
    }
    .color-2 {
        grid-area: two;
    }
    .color-3 {
        grid-area: three;
    }
    .color-4 {
        grid-area: four;
    }
    .color-5 {
        grid-area: five;
    }

    .col {
        padding: 20px;
    }

    @include media-breakpoint-down(md){
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "one"
            "two"
            "three"
            "four"
            "five"
            "footer";
    }
}


/* RESPONSIVE FONTS */
@function get-vw($target) {
    $vw-context: (768 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}
  
  
h2 {
    font-size: get-vw(40px);
    margin-top: 50px;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
    }
}

p {
    font-size: get-vw(20px);
    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
}

body {
    height: 1000px;

    p {
        font-size: 4vw;
    }
}

.element {
    background: yellow;
    width: 200px;
    font-size: 4vw;
}

.parent {
    width: 400px;
    height: 300px;
    background: #c4df9b;
    margin: 40px auto;
}

.parent {
    position: relative;
}

.element {
    position: sticky;
    top: 50px;
    width: 100%;
}

#footer {
    clear: both;
}


/* TABLE */
table * {
    border: none;

    td, th {
        text-align: center;
        font-weight: normal;

        @include media-breakpoint-down(md){
            display: block;
        }
    }
}


/* MATERI 2.2 */

ul li {color: red;}



ul.second_level li {color: blue;}

ul li ul li {color: green;}

ul.third_level li {color: orange;}